{% extends "_layouts/_base.html" %}

{% block extra_css %}
    <style>
        {% for deal in object_list %}
            {% if deal.header_img %}
                #deal-{{deal.pk}}{
                    background: #222222;
                    background-image: url({{deal.header_img}});
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 130%;                    
                }
            {% else %}
                #deal-{{deal.pk}} {
                    background: #222222;
                }
            {% endif %}
            
        {% endfor %}
    </style>
{% endblock extra_css %}

{% block content %}

    <div class="grid row">
        <h4 class="title">All Deals</h4>
        {% for deal in object_list %}
            <div class="col-md-4 deal">
                <div class="deal-card" id="deal-{{deal.pk}}">
                    <div class="deal-image">
                        <div class="deal-title">
                            <div class="deal-overlay"></div>
                            <div class="deal-name"><a href="#buynow">{{deal.game}}</a></div>
                            <div class="deal-orig-price">&euro;{{deal.original_price}}</div>
                            <div class="deal-cur-price">&euro;{{deal.current_price}}</div>
                            <div class="deal-cta">
                                <a href="#buynow" class="buy_now-btn">Buy Now!</a>
                            </div>
                        </div>                                          
                    </div>
                
                </div>
            </div>
        {% endfor %}
        
    </div>
    
    {% include "_includes/_components/_footer.html" %}

{% endblock content %}  


{% block footer %}

{% endblock footer %}