/* line 52, static/css/_imports/_base.scss */
* {
  color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px; }

/* line 60, static/css/_imports/_base.scss */
body {
  background-color: #444444; }

/* line 65, static/css/_imports/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #EFEFEF; }

/* line 69, static/css/_imports/_base.scss */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 56px; }

/* line 73, static/css/_imports/_base.scss */
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 45px; }

/* line 77, static/css/_imports/_base.scss */
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 34px; }

/* line 81, static/css/_imports/_base.scss */
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px; }

/* line 85, static/css/_imports/_base.scss */
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px; }

/* line 89, static/css/_imports/_base.scss */
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* line 93, static/css/_imports/_base.scss */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px; }

/* line 98, static/css/_imports/_base.scss */
.mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300; }

/* line 102, static/css/_imports/_base.scss */
.default-bg {
  background-color: #444444; }

/* line 7, static/css/_components/_nav.scss */
.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center; }

/* line 14, static/css/_components/_nav.scss */
.navbar-nav > li {
  display: inline-block;
  float: none; }

/* line 1, static/css/_components/_footer.scss */
.footer {
  padding: 10px;
  border-top: 3px solid #414141; }
  /* line 5, static/css/_components/_footer.scss */
  .footer .footer-section:nth-child(2) {
    text-align: center; }
  /* line 8, static/css/_components/_footer.scss */
  .footer .footer-section:nth-child(3) {
    text-align: right; }
    /* line 11, static/css/_components/_footer.scss */
    .footer .footer-section:nth-child(3) ul {
      list-style: none; }
  @media only screen and (max-width: 991px) {
    /* line 19, static/css/_components/_footer.scss */
    .footer .footer-section:nth-child(1) {
      text-align: center; }
      /* line 21, static/css/_components/_footer.scss */
      .footer .footer-section:nth-child(1) .search {
        text-align: left; }
    /* line 25, static/css/_components/_footer.scss */
    .footer .footer-section:nth-child(3) {
      text-align: center; }
    /* line 29, static/css/_components/_footer.scss */
    .footer .search-bar-footer {
      margin: auto; } }

/* line 35, static/css/_components/_footer.scss */
.footer-container {
  max-width: 1200px;
  margin: auto; }

/* line 1, static/css/_components/_searchbar.scss */
.search {
  position: relative;
  padding: 10px;
  padding-left: 0px;
  color: #95989A; }
  /* line 7, static/css/_components/_searchbar.scss */
  .search .search-bar {
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px;
    border-width: 0px;
    height: 25px;
    max-width: 500px;
    width: 500px;
    min-width: 50px;
    margin-top: 5px;
    background: #FFFFFF; }
    /* line 17, static/css/_components/_searchbar.scss */
    .search .search-bar .search-button {
      position: absolute;
      top: 10px;
      left: 15px;
      height: 20px;
      width: 20px;
      padding: 0;
      margin-top: 5px;
      border: none;
      background: none;
      outline: none !important;
      cursor: pointer; }
  /* line 31, static/css/_components/_searchbar.scss */
  .search .search-bar-footer {
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px;
    border-width: 0px;
    height: 25px;
    max-width: 500px;
    width: 300px;
    min-width: 50px;
    margin-top: 5px;
    background: #FFFFFF; }
    /* line 41, static/css/_components/_searchbar.scss */
    .search .search-bar-footer .search-button {
      position: absolute;
      height: 20px;
      bottom: 15px;
      width: 20px;
      padding: 0;
      margin-top: 5px;
      border: none;
      background: none;
      outline: none !important;
      cursor: pointer; }
  /* line 54, static/css/_components/_searchbar.scss */
  .search input[type='search'] {
    margin-left: 28px;
    height: 25px;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    border: none;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px;
    color: #95989A;
    padding: 5px; }
    /* line 65, static/css/_components/_searchbar.scss */
    .search input[type='search']:focus {
      outline: none; }
  /* line 70, static/css/_components/_searchbar.scss */
  .search i {
    color: #95989A;
    font-size: 15px;
    padding: 5px; }

/* line 79, static/css/_components/_searchbar.scss */
.search-active {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
  border: 3px solid #2eb9ce; }

/* line 86, static/css/_components/_searchbar.scss */
.full-search {
  color: #95989A; }
  /* line 88, static/css/_components/_searchbar.scss */
  .full-search .full-searchbar {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px; }
    /* line 94, static/css/_components/_searchbar.scss */
    .full-search .full-searchbar input[type='search'] {
      margin-left: 25px;
      height: 100%;
      padding: 10px;
      color: #95989A;
      border: none; }
