/* line 52, static/css/_imports/_base.scss */
* {
  color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px; }

/* line 60, static/css/_imports/_base.scss */
body {
  background-color: #444444; }

/* line 65, static/css/_imports/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #EFEFEF; }

/* line 69, static/css/_imports/_base.scss */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 56px; }

/* line 73, static/css/_imports/_base.scss */
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 45px; }

/* line 77, static/css/_imports/_base.scss */
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 34px; }

/* line 81, static/css/_imports/_base.scss */
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px; }

/* line 85, static/css/_imports/_base.scss */
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px; }

/* line 89, static/css/_imports/_base.scss */
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* line 93, static/css/_imports/_base.scss */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px; }

/* line 98, static/css/_imports/_base.scss */
.mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300; }

/* line 102, static/css/_imports/_base.scss */
.default-bg {
  background-color: #444444; }

/* line 1, static/css/_components/_nav.scss */
.navbar-mid {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%); }

/* line 1, static/css/_components/_searchbar.scss */
.search-bar {
  padding: 10px;
  color: #95989A; }
  /* line 5, static/css/_components/_searchbar.scss */
  .search-bar input[type='text'] {
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    border-radius: 33px;
    border-width: 0px;
    height: 20px; }
  /* line 11, static/css/_components/_searchbar.scss */
  .search-bar i {
    color: #95989A; }
  /* line 15, static/css/_components/_searchbar.scss */
  .search-bar .search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer; }
