/* line 40, static/css/_imports/_base.scss */
* {
  color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px; }

/* line 47, static/css/_imports/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #EFEFEF; }

/* line 51, static/css/_imports/_base.scss */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 56px; }

/* line 55, static/css/_imports/_base.scss */
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 45px; }

/* line 59, static/css/_imports/_base.scss */
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 34px; }

/* line 63, static/css/_imports/_base.scss */
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px; }

/* line 67, static/css/_imports/_base.scss */
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px; }

/* line 71, static/css/_imports/_base.scss */
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* line 75, static/css/_imports/_base.scss */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px; }

/* line 80, static/css/_imports/_base.scss */
body {
  background-color: #444444; }

/* line 84, static/css/_imports/_base.scss */
.mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300; }

/* line 88, static/css/_imports/_base.scss */
.no-bg {
  background-color: none; }
