beautifulsoup4==4.6.0
Django==1.11.23
django-appconf==1.0.2
django-bootstrap3==9.0.0
django-compressor==2.1.1
django-filter==1.0.4
django-libsass==0.7
djangorestframework==3.6.3
libsass==0.13.2
lxml==3.8.0
Markdown==2.6.8
mccabe==0.6.1
pylint==1.7.2
pytz==2017.2
rcssmin==1.0.6
requests==2.18.4
urllib3==1.22


