<div class="navbar navbar-default footer navbar-bottom default-bg">
    <div class="footer-container">
      <div class="row">
      	<div class="col-md-5 footer-section">
      		<h5>Quick Search:</h5>
      		<div class="footer-search" style="margin:auto;">
      		{% include "_includes/_components/_searchbar-footer.html" %}
      		</div>
      	</div>
      	<div class="col-md-4 footer-section">
      		<h5>{{app_name}}</h5>
      		<p>(c) Twan Huiskens <a href="mailto:huiskenstwan@gmail.com">huiskenstwan@gmail.com</a></p>
      	</div>
      	<div class="col-md-3 footer-section">
      		<h5>Important Pages</h5>
      			<a href="{% url 'index' %}">Home</a>
      			<br><a href="#">About</a>
      			<br><a href="#">Contact</a>
      	</div>
      </div>
    </div>
  </div>s