<form action="/search/" method="GET" class="full-search">
	<div class="full-searchbar">
		<input type="search" name='title' placeholder="Search...">
		<buton class="search-button" type='submit'>
			<i class="material-icons">search</i>
		</buton>
	</div>
	<div class="detail-search">
		<div class="row">
			<div class="col-md-4">
				<span class="detail-search-title">Genre:</span>
				<select class="form-control search-form-select" id="select">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				  </select>
			</div>
			<div class="col-md-4">
				<span class="detail-search-title" style="text-align:center";>
					Price Range:
				</span>
				<div class="slider">
					<span id="price-start"></span>
					<div id="price-slider"></div>				
					<span id="price-end"></span>
				</div>
			</div>
			<div class="col-md-4 float-right">
				<span class="detail-search-title" style="text-align:right;">
					Sort By:
				</span>
				<select class="form-control search-form-select" id="select" name="sort-by">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
				</select>
			</div>
		</div>
	</div>
</form>
