.grid {
    width: 80%;
    margin: 0 auto;

    .title{
        padding-left: 15px;
    }

}

.deal-card {
    padding: 10px;
    // Top right bottom left
    margin: 10px 0px 10px 0px;
    min-width: 100px;
    min-height: 200px;
    background: #222222;
    box-shadow: #3e3939 1px 0px 3px 1px;

    &:hover{
        box-shadow:#3e3939 1px 0px 7px 5px
    }

}

.deal-overlay {
 height: 70px;
 background-color: rgba(110, 110, 110, .8);
 margin: -10px;
 margin-top: 120px;
 margin-bottom: -10px;
 padding: -10px;
}

.deal-name{
    margin-top: -65px;
    font-size: 16px;

    a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        &:hover{
            text-decoration: none;
            color: #18bc9c;
        }
    }
}

.deal-orig-price{
    display: inline-block;
    @include font--mono();
    color: rgb(199, 197, 197);
    text-decoration: line-through;
    
}

.deal-cur-price {
    padding-left: 10px;
    display: inline;
    color: white;
    font-size: 14px;
    @include font--mono(300);
}

.buy_now-btn{
    float: right;
}

.header{

    .img-head {
        height: 500px;
        background-color: #222222;
        background-position: center;
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: repeat-x;
    }

    .deal-title {
        text-align: center;
        // padding-left: 50px;
        display: inline-block;
        vertical-align: middle;
        h3, h5 {
            display: inline-block;
        }
        .deal-orig-price-head{
            text-decoration: line-through;
            color: rgb(158, 158, 158);
            padding-left: 10px;
            padding-right: 5px;
            
        }
        .deal-cur-price-head{
            padding-left: 30px;
            color: white;
            font-size: 34px;
        }
    }    

}


.back-options{
    display: inline-block;
    a {
        text-decoration: none;
        font-size: 16px;
        color: white;
        padding-top: -10px;

        .material-icons {
            vertical-align: middle;
        }
      
        span {
            display: inline-block;
            font-size: 15px;
            vertical-align: middle;
            padding-top: 5px;
        }
    }
}

.deal-desc {
    margin-top: 10px;
    margin: 0 auto;
}