{% extends "_layouts/_base.html" %}

{% block content %}

    <h4>Showing search results for {{query}}:</h4>

    <div class="results">
        {% if db %}
            {% for game in db %}
                <div class="result-card row">
                    <div class="col-md-12">
                        <div class="result-name">
                            {{game}}
                            <div class="result-price">
                                    &euro;{{game.get_best_price}}
                                </div>
                        </div>
                        <div class="result-desc">
                            {{game.desc}}
                        </div>
                        <div class="result-btns">
                                <a href="{% url 'games:game-detail' game.pk %}" class="result-learn-more">Learn More!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                {% if sellers %}
                    {% for seller_item in sellers %}
                        <div class="result-card row">
                            <div class="col-md-12">
                                <div class="result-name">
                                    {{seller_item.0}}
                                    <div class="result-price">
                                        &euro;{{seller_item.1}}
                                    </div>
                                </div>
                                <div class="result-desc">
                                    Original Offer and price from: {{seller_item.3}}
                                </div>
                                <div class="result-btns">
                                    <a href="{{seller_item.4}}" class="result-learn-more">Learn More!</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                {% endif %}
        {% endif %}
    </div>
    {% include "_includes/_components/_footer.html" %}

{% endblock content %}

{% block footer %}
{% endblock footer %} 