{% extends "_layouts/_base.html" %}

{% comment %} Obj name: game.* {% endcomment %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css">
{% endblock extra_css %}

{% block all_content %}
{% if game %}
<div class="game-header">
    <div class="background-image" style="background-image: url({{ game.image_url }})"></div>
    <div class="content">
        <h1>{{game.name}}</h1>
    </div>
    </div>
    <div class="container" style='height:80vh'>
        <div class="game-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            {% if game.desc %}
                                <h5 class="game-desc-header">Description:</h5>
                                {{game.desc}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-3">
                            <h5 class="game-desc-header">Original Price:</h5>
                            {% if game.original_price %}
                                {% if game.original_price > 0 %}
                                <span class='game-detail-prices'>&euro;{{game.original_price}}</span>
                                {% else %}
                                    {% if game.gamestop_price %}
                                        <span class='game-detail-prices'>&euro;{{game.gamestop_price}}</span>                        
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <h5 class="game-desc-header">Best Price:</h5>
                            {% if game.get_best_price %}
                                <span class='game-detail-prices' >&euro;{{game.get_best_price}}</span>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <h5 class="game-desc-header">User Rating:</h5>
                            {% if game.rating %}
                                {{game.get_rating}}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <h5 class="game-desc-header">Community Pages</h5>
                            {% if game.community_reddit %}
                                <a href="{{game.community_reddit}}">Reddit</a>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                    <div class="row btn-row">
                           <div class="col-md-12">
                                <a href="#" class="prop-btn" data-toggle="modal" data-target="#propModal"><i class="material-icons">send</i> Send Proposal </a>
                           </div>                    
                    </div>
                                               
                    <div class="modal" id="propModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                            <form action="/sharing/proposal" method="GET">
                                <div class="form-group">
                                    <label class="control-label" for="receiver">Send proposal to:</label>
                                    <input class="form-control" id="receiver" name='to' type="email" value="example@example.com">
                                </div>
                                <div class="form-group">
                                        <label class="control-label" for="receiver">Your Name:</label>
                                        <input class="form-control" id="receiver" name='sender_name' type="text" value="John Doe">
                                </div>
                                <input type="hidden" name='game' value="{{game.pk}}">
                                <input type="hidden" name='seller' value="{{game.get_best_seller}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send Proposal</button>
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="seller-list">
                    <li class="seller-list-tile"><h5>Sellers</h5></li>
                    {% if game.kinguin_price %}
                        <li class="seller" id="seller-kinguin">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Kinguin</h5> <span>&euro;{{game.kinguin_price}}</span>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="btn">SHARE</a>
                                    <a href="#" class="prop-btn-small" data-toggle="modal" data-target="#propModalKing">
                                        <i class="material-icons">send</i>
                                        Proposal
                                    </a>                                    
                                    <a href="{{game.get_kinguin_ref_url}}" class="btn">Buy Now</a>
                                </div>
                            </div>
                        </li>
                    {% else %}
                    {% endif %}
                    
                    {% if  game.g2a_price%}
                    <li class="seller" id="seller-g2a">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>G2A</h5> <span>&euro;{{game.g2a_price}}</span>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="btn">SHARE</a>
                                <a href="#" class="prop-btn-small" data-toggle="modal" data-target="#propModalG2a">
                                    <i class="material-icons">send</i>
                                    Proposal
                                </a>                                    
                                <a href="{{game.g2a_url}}" class="btn">Buy Now</a>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    {% endif %}
                    {% if  game.gamestop_price %}
                    <li class="seller" id="seller-gamestop">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Gamestop</h5> <span>&euro;{{game.gamestop_price}}</span>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="btn">SHARE</a>
                                    <a href="#" class="prop-btn-small" data-toggle="modal" data-target="#propModalGameStop">
                                        <i class="material-icons">send</i>
                                        Proposal
                                    </a>                                    
                                    <a href="{{game.gamestop_url}}" class="btn">Buy Now</a>
                                </div>
                            </div>
                        </li>
                    {% else %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
</div>

<div class="modal" id="propModalKing" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
        <form action="/sharing/proposal" method="GET">
            <div class="form-group">
                <label class="control-label" for="receiver">Send proposal to:</label>
                <input class="form-control" id="receiver" name='to' type="email" value="example@example.com">
            </div>
            <div class="form-group">
                    <label class="control-label" for="receiver">Your Name:</label>
                    <input class="form-control" id="receiver" name='sender_name' type="text" value="John Doe">
            </div>
            <input type="hidden" name='game' value="{{game.pk}}">
            <input type="hidden" name='seller' value="2"> <!-- 2 = Kinguin -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send Proposal</button>
        </div>
        </form>
        </div>
    </div>
</div>
<div class="modal" id="propModalG2a" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
        <form action="/sharing/proposal" method="GET">
            <div class="form-group">
                <label class="control-label" for="receiver">Send proposal to:</label>
                <input class="form-control" id="receiver" name='to' type="email" value="example@example.com">
            </div>
            <div class="form-group">
                    <label class="control-label" for="receiver">Your Name:</label>
                    <input class="form-control" id="receiver" name='sender_name' type="text" value="John Doe">
            </div>
            <input type="hidden" name='game' value="{{game.pk}}">
            <input type="hidden" name='seller' value="1"> <!-- 1 = Kinguin -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send Proposal</button>
        </div>
        </form>
        </div>
    </div>
</div>
<div class="modal" id="propModalGameStop" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
        <form action="/sharing/proposal" method="GET">
            <div class="form-group">
                <label class="control-label" for="receiver">Send proposal to:</label>
                <input class="form-control" id="receiver" name='to' type="email" value="example@example.com">
            </div>
            <div class="form-group">
                    <label class="control-label" for="receiver">Your Name:</label>
                    <input class="form-control" id="receiver" name='sender_name' type="text" value="John Doe">
            </div>
            <input type="hidden" name='game' value="{{game.pk}}">
            <input type="hidden" name='seller' value="3"> <!-- 3 = Gamestop -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send Proposal</button>
        </div>
        </form>
        </div>
    </div>
</div>

{% else %}
<div class="container" style="height:100vh; text-align:center; margin-top:25vh">
    <h5>Were sorry, something went wrong.</h5>
    <a href="#deals">Browse some deals for now...</a>
</div>
{% endif %}
    
    {% comment %} Slider {% endcomment %}

    {% comment %} Desc etc {% endcomment %}
{% endblock all_content %}