{% extends "_layouts/_base.html" %}

{% block content %}
    <h3 style="text-align:center;">About {{app_name}}</h3>

    <p style='max-width:50%;margin: 0 auto;font-size:16px;'>
        Trivagame is created by <a href="mailto:huiskenstwan@gmail.com">Twan Huiskens</a>. <br>
        He started the project for school as personal project. The site compares prices of games on <a href="/sellers/">multiple sites</a> to give the best possible price to the buyer.

        <br><br>
        The site operates tottaly indipendent. Automaticly fething the prices. The sites self have no influence on the price shown. Other then change it on their own site.
        Some of these sites have a refferal system active. We use this refferal system to generate some revnue. Which is used to pay for the domain and hosting of the site. 
        At the point of realese there is no domain name and hosting is under a free service. This is because there is no expectation for a substantial revenue stream. 
        <br><br>
        The speed of the fetching of the games and their prices and info depends on the load on the site and the load on the external sites.

    </p>
{% endblock content %}