{% load static %}
{% load compress %}

{# VARIABLES #}
{% with default_title="Title" app_name='Game.com' %}


<!DOCTYPE html>
<html lang="en">
<head>

	<title>
		{% block title %}
			{{default_title}}
		{% endblock title %}
	</title>

	{# Include default css, meta, etc... #}
	{% include "_includes/_defaults/_head.html" %}
	{% block extra_css %}
	
	{% endblock extra_css %}
</head>
<body>
	{% block nav %}
		{% include "_includes/_components/_nav.html" %}
	{% endblock nav %}
	
	{% block all_content%}
	<div class="container" style="height:100vh">
		{% block content %}
		{% endblock content %}
	</div>
	{% endblock %}

	
	{% block footer %}
		{% include "_includes/_components/_footer.html" %}
	{% endblock footer %}

	{# Include Scripts and block extra_scripts #}
	{% include "_includes/_defaults/_scripts.html" %}

	{% block extra_scripts %}
	
	{% endblock extra_scripts %}
</body>
</html>


{# END Variables #}
{%endwith%}